{#
    Lan Nanny Web
    Device Mac
#}
{% extends 'layout_internal.jinja' %}

{%block header%}
    {# <link rel="stylesheet" href="/static/css/dashboard.css"> #}
{% endblock %}

{% block content %}

<!-- Device Display -->
<div class="container"">
    <div class="row">
        <div class="col-8">
            <h3>Device</h3>
            <ul id="device_details" class="list-group list-group-flush">
                <li class="list-group-item">
                    Name: <span class="entity-value device-name"></span>
                </li>
                <li class="list-group-item">
                    IP: <span class="entity-value device-ip">No IP yet</span>
                </li>
                <li class="list-group-item">
                    Last Seen: <span class="entity-value device-last-seen"></span>
                </li>
                <li class="list-group-item">
                    First Seen: <span class="entity-value device-first-seen"></span>
                </li>
                <li class="list-group-item">
                    Last Port Scan: <span class="entity-value device-last-port-scan"></span>
                </li>
            </ul>
            <h4>Device Macs</h4>
        </div>
        <div class="col-4">
            <div class="dropdown float-right">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    <i class="bi bi-pencil-fill"></i>
                </button>
                <ul class="dropdown-menu">
                    <li class=" nav-item">
                        <a class="dropdown-item" href="/settings">Delete</a>
                    </li>

                </ul>
            </div>
            <h4>Details</h3>
            <ul id="" class="list-group list-group-flush">
                <li class="list-group-item">
                    Device ID: <span class="entity-value device-id"></span>
                </li>
                <li class="list-group-item">
                    Created: <span class="entity-value device-created-ts"></span>
                </li>
                <li class="list-group-item">
                    Updated: <span class="entity-value device-updated-ts"></span>
                </li>
            </ul>

        </div>
    </div>
</div>

<!-- End: Container -->

{% endblock %}

{%block modals%}
<!-- Device - Delete -->
<div id="modal-device-delete" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete Device</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button id="modal-device-mac-device-pair-submit" type="button" class="btn btn-success">Pair Device</button>
            </div>
        </div>
    </div>
</div>
<!-- End Device add modal -->
{%endblock%}

{%block javascript%}
<script type="module" src="/static/js/page/device.js"></script>
{% endblock %}

{# End File: politeauthority/bookmarky-web-simple/src/templates/page/device_mac.jinja #}