{#
    Lan Nanny Web
    Device Mac
#}
{% extends 'layout_internal.jinja' %}

{%block header%}
    {# <link rel="stylesheet" href="/static/css/dashboard.css"> #}
{% endblock %}

{% block content %}

<!-- Device Display -->
<div class="container"">
    <div class="row">
        <div class="col-8">
            <h3>Device</h3>
            <div class="row">
                <div class="col-6">
                    <h4><span class="entity-value device-name"></span></h4>
                </div>
                <div class="col-6">
                    <span class="entity-value device-ip"></span>
                </div>
            </div>
            <table class="table table-striped">
                <tr>
                    <td>Last Seen</td>
                    <td><span class="entity-value device-last-seen"></span></td>
                </tr>
                <tr>
                    <td>First Seen</td>
                    <td><span class="entity-value device-first-seen"></span></td>
                </tr>

                <tr>
                    <td>Last Port Scan</td>
                    <td></td>
                    
                </tr>
            </table>
            <div id="device-macs" class="hide">
                <h4>Device Macs</h4>
                <ul id="device-mac-list" class="list-group list-group-flush">
                    <li class="list-group-item hide"><a class="device-mac-url" href="/device-mac"><span class="device-mac-address">First</span></a></li>
                </ul>
                <span id="device-mac-dump"></span>
            </div>   
        </div>



        <div class="col-4">
            <div class="dropdown float-right">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    <i class="bi bi-pencil-fill"></i>
                </button>
                <ul class="dropdown-menu">
                    <li class=" nav-item">
                        <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#modal-device-delete" >Delete</a>
                    </li>
                </ul>
            </div>
            <h4>Details</h3>
            <ul id="" class="list-group list-group-flush">
                <li class="list-group-item">
                    Device ID: <span class="entity-value device-id"></span>
                </li>
                <li class="list-group-item">
                    Created: <span class="entity-value device-created-ts"></span>
                </li>
                <li class="list-group-item">
                    Updated: <span class="entity-value device-updated-ts"></span>
                </li>
            </ul>

        </div>
    </div>
</div>

<!-- End: Container -->

{% endblock %}

{%block modals%}
<!-- Device - Delete -->
<div id="modal-device-delete" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete Device</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Delete device?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button id="modal-device-delete-submit" type="button" class="btn btn-danger">Delete</button>
            </div>
        </div>
    </div>
</div>
<!-- End Device add modal -->
{%endblock%}

{%block javascript%}
<script type="module" src="/static/js/page/device.js"></script>
{% endblock %}

{# End File: politeauthority/bookmarky-web-simple/src/templates/page/device_mac.jinja #}