{#
    Lan Nanny Web
    Devices
#}
{% extends 'layout_internal.jinja' %}

{%block header%}
    {# <link rel="stylesheet" href="/static/css/dashboard.css"> #}
{% endblock %}

{% block content %}

<!-- Device Display -->
<div class="container"">
    <div class="row">
        <div class="col-8">
            <h3>Device Macs</h3>
            <ul id="devices_device_mac_roster" class="list-group list-group-flush">
                <li class="list-group-item hide">
                    <b>
                        <a class="device-device-mac-url" href="/device-mac/"><span class="device-device-mac-address">MAC ADDRESS</span></b></a>
                    <br/>
                    Last IP: <span class="device-device-mac-last-ip">IP ADRESS</span><br>
                </li>
            </ul>
            <div class="row">
                <div id="recent-load-more" data-next-page="2"></div>
            </div>
        </div>
    </div>
</div>

<!-- End: Container -->

{% endblock %}

{%block modals%}
{%endblock%}

{%block javascript%}
<script type="module" src="/static/js/page/devices.js"></script>
{% endblock %}

{# End File: politeauthority/bookmarky-web-simple/src/templates/page/devices.jinja #}