{#
    Lan Nanny Web
    Scans
#}
{% extends 'layout_internal.jinja' %}

{%block header%}
    <link rel="stylesheet" href="/static/css/scans.css">
{% endblock %}

{% block content %}

<!-- Device Display -->
<div class="container"">
    <div class="row">
        <div class="col-8">
            <h3>Scans</h3>
            <div class="container">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Host Scans</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Port Scans</a>
                    </li>
                </ul>

                {# <div class="row">
                    <h5>Host Scans</h5>
                    <ul id="scan_host_roster" class="list-group list-group-flush">
                        <li class="list-group-item boiler-item hide">
                            <span class="scan-hosts-found"></span> Hosts
                            <span class="scan-time">the time</span>  
                        </li>
                    </ul>
                </div> #}
                <div class="row">
                    <h5>Port Scans</h5>
                    <ul id="scan_ports_roster" class="list-group list-group-flush">
                        <li class="list-group-item boiler-item hide">
                            <a class="scan-ports-device-mac-link" href="/device-mac">
                                <b>Device Mac ID: <span class="scan-ports-device-mac-id"></span></b>
                            </a>
                            <span class="scan-ports-device-id">Device ID: <span class="scan-ports-device-id-value"></span> <br></span>
                            <span class="scan-time">the time</span><br>
                            <div class="smaller-stuff">
                            Scan Type: <span class="scan-ports-scan-type"></span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-4">
            <ul>
                <li>Total Host Scans: <span id="total-scan-hosts"></span></li>
                <li>Total Ports Scans: <span id="total-scan-ports"></span></li>
            </ul>
        </div>
    </div>
</div>

<!-- End: Container -->

{% endblock %}

{%block modals%}
{%endblock%}

{%block javascript%}
<script type="module" src="/static/js/page/scans.js"></script>
{% endblock %}

{# End File: politeauthority/bookmarky-web-simple/src/templates/page/scans.jinja #}